# NECESSARY PARAMETERS
pdb_file = 'AAA'
traj_file = 'BBB'
start = XXX
end = YYY 
average_pdb = 'CCC'

# OPTIONAL PARAMETERS
alignment = 'protein and name CA and (resid 20:25 50:55 73:75 90:94 112:116 142:147 165:169 190:194 214:218 236:240 253:258 303:307)'
covar_selection = 'protein and not resid 0:19'
coarseness = 'COM'  # either 'COM' or 'Atomic'
fine_grain_selection = 'name CA' # only used if the coarseness is set to 'Atomic';

dist_covar_filename = 'dist_covar.dat'
cart_covar_filename = 'cart_covar.dat'

functionalize_bool = True
functionalized_dist_filename = 'func_dist_covar.dat'

PCA_bool = True
PCA_eigenvalues_filename = 'PCA_cart_eigenvalues.dat'
PCA_eigenvectors_filename = 'PCA_cart_eigenvectors.dat'

summary = True
summary_filename = 'water_diffusion.summary'

